node_modules/
frontend/dist/
backend/vendor/
backend/node_modules/
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php
!.gitkeep
.DS_Store
Thumbs.db
*.log
